[submodule "la-capitaine-icon-theme"]
	path = la-capitaine-icon-theme
	url = https://github.com/keeferrourke/la-capitaine-icon-theme.git
[submodule "Sierra-gtk-theme"]
	path = Sierra-gtk-theme
	url = https://github.com/vinceliuice/Sierra-gtk-theme.git
[submodule "Mc-OS-themes"]
	path = Mc-OS-themes
	url = https://github.com/paullinuxthemer/Mc-OS-themes
